# RStudio
.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata

# macOS
.DS_Store
Thumbs.db

# Quarto
_book/
.quarto/

# Logs
*.log

# Temp files
*.tmp

# Notebook artifacts
**/*.quarto_ipynb

# Excel / CSV exports
*.xlsx
*.csv

# Quarto / knitr sidecar folders created during rendering
*_files/
*_cache/

# R build artifacts
*.tar.gz
/.quarto/
